*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffc857;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 10vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0 , 0, 03);
    font-size: 8vmin;
    color:#481D24;
    background-color: #c5283D;
}
#reset-btn,#new-btn,.reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #255f85;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#msg{
    color:#481D24;
    font-size: 5vmin;
}
.msg-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}

/* index.html css */
/* Base container for home screen */
.home-container {
    height: 85vh;
    display: flex;
    flex-direction: column; /* Stack title and buttons */
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    padding: 1rem;
}

/* Container for the buttons */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

/* Styling each option button */
.op-btn {
    height: 18vmin;
    width: 50vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0, 3);
    font-size: 5vmin;
    color: #481D24;
    background-color: #c5283D;
    cursor: pointer;
}
.op-btn a{
     color: #481D24;
     text-decoration: none;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    background-color: #daefb3;
    color: #1c2826;
}

/* Mobile View */
@media (max-width: 600px) {
    .btn {
        flex-direction: column;
    }

    .op-btn {
        width: 80vw;
        height: 15vh;
        font-size: 6vw;
    }
}
